* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: "Inter", sans-serif;
}

button {
    background-color: transparent;
    border: 0;
    margin: 0.1rem;
    cursor: pointer;
}